@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: -20px;
}

h3 {
  background-color: black;
  color: white;
  margin: 0px 7px;
  padding: 10px;
  border-radius: 5px;
}

h4 {
  background-color: black;
  color: white;
  padding: 7px;
  margin: 7px;
  border-radius: 5px;
}

body {
  /* max-width: 1200px; */
  margin: auto;
}

#header {
  text-align: center;
  border-radius: 8px;
  margin: 7px 4px;
  padding: 7px 10px;
  margin-bottom: 1px;
  background-color: black;
  /* background-image: linear-gradient(to left, #e056fd, blue, black); */
  /* background-image: linear-gradient(to left, #e056fd, blue, black); */
  /* background-image: linear-gradient(to left, #e056fd, blue, black); */
  /* background-image: linear-gradient(to left, #e056fd, blue, black); */
  /* background-image: linear-gradient(to left, #e056fd, blue, black); */
  /* background-image: linear-gradient(to left, #e056fd, blue, black); */
}

#headlight {
  color: white;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 5px;
  background-image: linear-gradient(to left, #e056fd, blue, black);
}
#navbar {
  margin: 0px 4px;
  background-color: rgb(46, 45, 45);
  border-radius: 5px;
  padding: 3px 0px;
}

#navbar ul {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

#machine_ul {
  background-color: rgb(240, 235, 235);
  padding: 15px;
  margin: 5px 10px;
  border-radius: 10px;
  list-style: none;
}

#navbar li {
  padding: 10px;
}

#navbar li a {
  padding: 10px;
  border-radius: 5px;
}

#navbar li a:hover {
  color: black;
  background-color: white;
}

a {
  color: white;
}
